*{
    margin: 0;
    padding: 0;
}

container{
    height: 1024px;
    width: 1440px; 
    color:rgb(244, 234, 234);
}

.navbar{
    width: 100%;
    
    margin: auto;
    display: flex;
    align-items: center;
    

    
}
.logo{
    width: 1.5in;
    height: 1.5in;
    margin-top: 30px;
    margin-left: 40px;
  
}

nav{
    flex:1;
    padding-left:700px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin-left: 30px;
    font-size: 20px;
    


}
nav ul li a{
    text-decoration: none;
    color: #2D2B79;


}

nav ul li a:hover{
    color: white;
    background-color: #2D2B79;
    border-radius: 5px;
    padding:10px;

}

.h1{
    font-size: 25px;
    font-weight: 100;
    margin-top: 95px;
    color:#fafafe;
    margin-left: 160px;
    

}
p{
    margin-top: 70px;
    font-size: 30px;
    margin-left:80px ;
    
   
    color:#f0f0f5;
}
.content{
    margin-left: 400px;
    margin-top: 120px;
    border: #2D2B79 5px;
    width: 600px;
    height: 400px;
    background-color:#2D2B79;
    border-radius: 30px;


}





    



















